#about{
    padding: 50px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-2{
    flex-basis: 35%;
}
.about-col-3 img{
    border-radius: 15px;
    background-color: #222;
    /* width: 500px */
}
.about-col-1{
flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-contents{
    display: none;
}
p{
    line-height: 25px;
}


@media(min-width:300px) and (max-width: 767px){
.about-col-3 img{
    width: 270px;
}
.sub-title{
    font-size: 70px !important
}
p{
    font-size: 20px !important;
    width: 270px;
}
.tab-titles{
    width: 100px !important;
}

}

/* 
@media (min-width:768px) {
    .about-col-2 img{
        width: 230px !important;
        height: 200px;      
    }
    p{
        font-size: 12px;
    }
    

} */

@media only screen and (min-width:768px) {
    .about-col-3 img{
        width: 235px !important;
        height: 300px;      
    }
    p{
        font-size: 12px;
    }
    
}
@media only screen and (min-width:1025px) {
    .about-col-3 img{
        width: 405px !important;
        height: 430px;      
    }
    p{
        font-size: 12px;
    }
    
}




/* .tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
} */
/* .tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
} */
/* .tab-links.active-link::after{
    width: 50%;
} */
/* .tab-contents ul li{
    list-style: none;
    margin: 10px 0;
} */
/* .tab-contents ul li span{
    color:#b54769;
    font-size: 14px;
} */
/* .tab-contents.active-tab{
    display: block;
} */



